<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="WarehouseDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='{0}\WarehouseDB.mdf';Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/StoreService/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStoreService"
        contract="StoreServiceReference.IStoreService" name="WSHttpBinding_IStoreService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="WarehouseQueueBinding" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStoreService" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WarehouseBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WarehouseBehavior" name="WarehouseService.CWarehouseService">
        <endpoint address="BookShopQueue" binding="netMsmqBinding" bindingConfiguration="WarehouseQueueBinding"
          name="BookShopQueueEndpoint" contract="WarehouseService.IWarehouseService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint"
          contract="IMetadataExchange" />
        <endpoint address="ws" binding="wsHttpBinding" contract="WarehouseService.IWarehouseService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WarehouseService/" />
            <add baseAddress="net.msmq://localhost/private/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
